<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="static/css/font-face.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="static/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="static/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <img src="static/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
              <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Main Page</a>
                                                  </li>
                        <li>
                            <a href="arbitrageinfo">
                                <i class="fas fa-chart-bar"></i>Arbitrage</a>
                        </li>
                        <li>
                            <a href="subscriptioninfo">
                                <i class="fas fa-table"></i>Subscription</a>
                        </li>
                        <li class="active has-sub">
                            <a href="faq">
                                <i class="far fa-check-square"></i>FAQ</a>
                        </li>
                        
                                                    </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/">
                    <img src="static/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Main Page</a>
                            
                        </li>
                        <li>
                            <a href="arbitrageinfo">
                                <i class="fas fa-chart-bar"></i>Arbitrage</a>
                        </li>
                        <li>
                            <a href="subscriptioninfo">
                                <i class="fa fa-dollar"></i>Subscription</a>
                        </li>
                        <li class="active has-sub">
                            <a href="faq">
                                <i class="far fa-check-square"></i>FAQ</a>
                        </li>
                    </ul>
                    </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="login">
                                  <h4><i class="fas fa-tachometer-alt blackiconcolor"></i>Log in</h4>
                                    <span class="bot-line"></span>
                                </a>
                                
                            </li>
                            
                            <li>
                                <a href="register">
                                    <h4><i class="fas fa-trophy blackiconcolor"></i>Register</h4>
                                    <span class="bot-line "></span></a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <h4><i class="fa fa-plus-square blackiconcolor"></i>Support</h4>
                                    <span class="bot-line"></span></a>
                                <ul class="header3-sub-list list-unstyled">
                                    
                                    <li>
                                        <a href="https://www.instagram.com/bahram.bahmanov/">Instagram</a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/people/Bahram-Bahmanov/100007024188654">Facebook</a>
                                    </li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            

                        </div>
                        
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT--------------------------------------------------
          -------------------------------------------------------
        --------------------------------------------------------------
      -->



            <div class="main-content">
              <div class="price-heading clearfix">
                </div>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                      
                      <h1 class='abb large-title'>FAQ</h1></br>
<p></p></br>

	<h3>How to register?</h3>
	
<p>You need to press on button <a href="register" >register</a> to register</p></br>

<h3>Forgot password?</h3>

<p>If you are already registered on our service, but have forgotten your password, click on the <a href="retrieve_password"> Recover password</a> link on the <a href="login" > Login</a> in your account. Enter the e-mail you used when registering and click the "Send me instructions on how to change your password" button. A new password will be sent to your specified e-mail.</p></br>

<h3>How to pay for the subscription?</h3>

<p>Here is 3 types of subscription that you can buy ! All you need to do is to choose your type of <a href="subscriptioninfo"> subscription </a>, then click to buy. After paying send the screenshot to us in telegram! If any questions or for special offers contact us!
You can pay here with Bitcoin, Etherium or Xrp . If you have any Other crypto currency please contact with us via support !
We will find the special way of payment for you ! We respect all our clients ! Do not hesitate to ask !</p></br>

<h3>What is Arbitrage bet?</h3>

<p>Arbitrage opportunities are not deliberate but come in the process of bookmakers trying to remain in profit. It is therefore legal for one to make money this way online. It works by taking odds from different bookies and choosing ones that favor your profitability. In simple terms arbitrage betting gives an opportunity for transactions that ensure no negative cash flow to the trader with at least one opportunity for positive cash flow. While at it, you also get chances to win incredible amounts of money. The only way to make money consistently online is through arbitrage betting. To get more info you can read in <a href="arbitrageinfo">Arbitrage information !</a></p></br>

<h3>Can bookmaker know that i am using ARBBET?</h3>

<p>For all our history no. Bookmaker is not able to check that are you using ARBBET or not , everything depends on your way of being careful in placing the amounts and always please check is arbitrage is correct or not . We will add more information how to be careful in this sphere !</p></br>

<h3>Is it legal to place arbitrage bets?</h3>

<p>Yes it is absolutely legal ! You can read more deeply on the internet. You will find the same answer.</p></br>

<h3>I could not find the answer that i need.</h3>

<p>You can always write to us on our social medias like <a href="https://www.instagram.com/bahram.bahmanov/"> Instagram</a> or <a href="https://www.facebook.com/people/Bahram-Bahmanov/100007024188654"> Facebook</a> . We respect all our clients ! Do not hesitate to ask !</p></br>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2021 Arbbet. All rights reserved. Website by <a href="">Secret Wins</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>



    <!-- Jquery JS-->
    <script src="static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src= "static/vendor/fortable/table.js">
    </script>
    <script src="static/vendor/slick/slick.min.js">
    </script>
    <script src="static/vendor/wow/wow.min.js"></script>
    <script src="static/vendor/animsition/animsition.min.js"></script>
    <script src="static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="static/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="static/js/main.js"></script>

</body>

</html>
<!-- end document-->
